---
import CartComponents from "./CartComponents.astro"
---

<div class="Carrito">
  <div class="Carrito-header">
    <div class="cross">
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="object">
    <div class="object-img"></div>
    <div class="object-content">
      <CartComponents name="" amount="" price="" ></CartComponents>
    </div>
  </div>
  <div class="total">
    <table>
      <a class="order" href="#">Ordenar Comanda</a>
    </table>
  </div>
</div>
