---
import AddToCartIsland from "./islands/AddToCartIsland.jsx";

const { name, amount, img, producto } = Astro.props;
---

<div class="plate-card">
  <div class="plate-img">
    <div class="alergies"></div>
  </div>
  <div class="plate-details">
    <h2 class="plate-name">{name}</h2>
    <p class="plate-amount">Cantidad : {amount}</p>
    <div class="plate-buttons">
      <AddToCartIsland client:load producto={producto} />
      <a class="info" href="#"><i class="fa-solid fa-circle-info"></i> Info</a>
    </div>
  </div>
</div>
